<!DOCTYPE html>
<html>
<head>
  <title>Login - TaxCalPro</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h2>Login</h2>
    <form action="/login" method="post">
      <label for="username">Enter your username:</label>
      <input type="text" id="username" name="username" required>
      
      <label for="uuid">Enter your uu_id:</label>
      <input type="text" id="uuid" name="uuid" required>
      
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
